
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Login</h2>
<div>
<p>
@Html.Label("UserName")
@Html.TextBox("username")
</p>
<p>
@Html.Label("Password")
@Html.Password("password")
</p>
</div>
@section scripts
{
<script>



</script>
}
